:root{

}
* {
  outline: none;
  box-sizing: border-box;
}
html{
    font-size: 10px;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  color: #444444;
  text-decoration: none;
}

.right {
  float: right !important;
}
.left {
  float: left !important;
}

.container{
    max-width: 1170px;
  width: 100%;
  margin: auto;
}
.heading{
    margin-top: 2rem;
}
button {
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    letter-spacing: .05em;
    text-decoration: none;
    font-size: 1.8rem;
    padding:  1rem 2.2rem;    
    border: solid 1px transparent;
    background: #ff5630;
    border-radius: .4rem;
    color: #fff;
}
input{
    padding: 1.2rem 2.6rem;
   background-color: #fff;
   font-size: 1.4rem;
   width: auto;
   color: #444;
}
input::placeholder{
    color: rgba(68, 68, 68, .44);
    text-transform: uppercase;
 }

  h1{
      font-size: 2.4rem;
      font-weight: bold;
      color: #444444;
      text-align: center;
  }
#success-msg{
    color: green;
    font-size: 1.5rem;
    padding: 2rem 0;
}
ul#user-notes{
    list-style: none;  
    margin-top: 1rem; 
}
ul:not(:first-child){
    margin-left: 2rem;    
}
ul#user-notes li{
    padding: 1rem;
    min-width: 30rem;
    width: auto;
    /* border: 1px solid #ccc; */
    margin-top: 1rem;
}
ul#user-notes li>div{
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 1rem;
}
#chip{
    position: fixed;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 2rem 1.5rem;
    top: 30%;
    left: 35%;
    font-size: 1.6rem;
    transition: all .5s ease-in-out;
    transform: translate(35%,-500%);
}
#chip.show{
    transform: translate(35%,35%);
}
ul#user-notes li p.note{
    font-size: 1.6rem;
    font-weight: normal;
    padding: 1rem 0 1rem 0;
    line-height: 2.2rem;
}
.action{
    display: inline-block;
    width: 100%;
}
.action button:nth-child(1),.action button:nth-child(2){
    float: right;  
    background-size: 2rem !important;
    height: 5rem;
    width: auto;
    padding: 0 1.5rem !important;
    background-size: 2rem;
    
}
.action button:nth-child(1){
    background: url(/img/delete.svg) no-repeat center center;
}
.action button:nth-child(2){
    background: url(/img/add.svg) no-repeat center center;
}
input#search{
    margin-top: 1rem;
}
.main-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.searchfail{
    display: none;
}
li.searchpass{
    display: block;
}
p.note[contenteditable="true"]{
    background: #f9f9f9;
    border: 1px solid rgb(204, 204, 204);
    padding: 1rem !important;
    margin-bottom: 1rem;
}